[Unit]
Description=Arcade Button Control

[Service]
WorkingDirectory=/home/pi/busyboard
ExecStart=/home/pi/busyboard/button-control.py

[Install]
WantedBy=default.target

